# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "0101df2c30b27d14adad2624b4f30e69"
name = "pop-up-app"
handle = "pop-up-app-7"
application_url = "https://jersey-characterization-showers-genetics.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_price_rules"

[auth]
redirect_urls = ["https://jersey-characterization-showers-genetics.trycloudflare.com/auth/callback", "https://jersey-characterization-showers-genetics.trycloudflare.com/auth/shopify/callback", "https://jersey-characterization-showers-genetics.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false

[app_proxy]
url = "https://placeholder.com/proxy"
subpath = "popup"
prefix = "apps"
